# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Local settings
settings_local.py

# SQLite database
*.sqlite3
db.sqlite3

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and temporary files
*.log
*.pot
*.pyc
*.pyo
*.tmp

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Compiled source
*.class

# Node modules (if using frontend tools)
node_modules/
db.sqlite3
staticfiles/
media/

