asgiref==3.8.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
Django==5.2.4
django-allauth==65.10.0
django-js-asset==3.1.2
django-mptt==0.17.0
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
idna==3.10
numpy==2.3.1
openpyxl==3.1.5
pandas==2.3.0
pillow==11.3.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
