{% extends "../base/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include "../base/nav-main.html" %}
<div class="container">
    <section class="jumbotron text-center bg-white">
        <!-- Page Content -->
<div class="content">
  <h1 class="text-success">Welcome to the Dashboard</h1>
  <p>This is your main content area.</p>
</div>

        <div class="container">
            <h1>User Dashboard</h1>
            <p class="lead text-muted">Welcome to your account dashboard. This is your personal space to manage everything related to your user profile. From here, you can update your personal information, change your password, manage your login credentials, or even deactivate your account if needed. It's designed to give you full control over your data and account preferences in a secure and straightforward way. Take a moment to review your details and keep your account up to date.</p>
            
        </div>
    </section>
</div>
{% include "base/footer.html" %}
{% endblock %}